@font-face {
    font-family: 'Moyenage Cyrillic';
    src: url('/fonts/moyenage/moyenage-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF;
}
