@font-face {
    font-family: 'Moyenage Cyrillic';
    src: url('/fonts/moyenage/moyenage-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF;
}

@font-face {
    font-family: 'Overpass Cyrillic';
    src: url('/fonts/overpass/overpass-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF;
}

@font-face {
    font-family: 'Overpass Cyrillic';
    src: url('/fonts/overpass/overpass-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF;
}

@font-face {
    font-family: 'Overpass Cyrillic';
    src: url('/fonts/overpass/overpass-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0400-04FF;
}
